h3 {
	font-size:35px;
	color:#F37509;
}


p {
	margin-left: 20px;
	font-size:25px;
	color:#6AF309;
}

.left {
	text-align:left;
    flex: 50%;
    padding: 20px;
	
}

.right {
    flex: 50%;
    padding: 20px;
	width: 30%;
    padding-left: 15px;
    margin-left: 15px;
}

* {
    box-sizing: border-box;
}
div {
    display: block;
}

li {
	list-style: none;
	margin-left: 20px;
	font-size:22px;
	color:#09E8F3;
}
.header {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	font-size:40px;
	text-align: center;
}
	
h1 {
	color:#F70669;
}
body {
	background-image: url(guilin-mountain-and-river.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.body {
	margin-left:10px;
	padding:20px;
}
.navbar {
	list-style: none;
	padding: 0;
	background-color: #1FF7C1;
	
	display:flex;
	flex-flow:row wrap;
	justify-content: center;
}

@media all and (max-width: 800px) {
	.navbar {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	}
	
	body {
	padding:20px;
	background-image: url(guilin-mountain-and-river.jpg);
	background-repeat: no-repeat;
	background-size: 2000px 2000px;
    }
}

@media all and (max-width: 600px) {
	.navbar {
		flex-direction: column;
	}
	
	li{
		text-align:center;
		border:5px solid (to bottom right,#F04726,#2692F0);
		font-weight:bold;
	}
	
	body {
	padding:20px;
	background-image: url(guilin-mountain-and-river.jpg);
	background-repeat: no-repeat;
	background-size: 2000px 2000px;
    }
}

a {
	text-decoration: none;
	display: block;
	padding: 15px;
	color: purple;
}

a:hover{
	background-color:#FFD700;
}
